<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031620961897-0rbevmo5vjtg4i2juqnid5ee7bqk6lvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031620961897-0rbevmo5vjtg4i2juqnid5ee7bqk6lvl</string>
	<key>API_KEY</key>
	<string>AIzaSyBAAKH_EyB2hHc5C_yKsCwSeH4NawvD0rU</string>
	<key>GCM_SENDER_ID</key>
	<string>1031620961897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardapp</string>
	<key>PROJECT_ID</key>
	<string>my-card-app-7878784547</string>
	<key>STORAGE_BUCKET</key>
	<string>my-card-app-7878784547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031620961897:ios:63d854cac4284a4bc164f8</string>
</dict>
</plist>